!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Check out 
      = link_to @dare.challenge.name, challenge_dare_path(@dare.challenge_id, @dare)
    %p
      See whether #{@acceptor.username.capitalize} completed the challenge!
    %p
      Don't forget to confirm / reject the proof!
      %br/
