!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
	%body
		%h1
			#{@challenger.username.capitalize} rejected your proof! 
		%p
			Let's see what other users think about this.
		%p
			Voting has started! Check it out at 
			= link_to @dare.challenge.name, challenge_dare_url(@dare.challenge_id, @dare)
