!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      The voting for 
      = link_to @dare.challenge.name, challenge_dare_url(@dare.challenge_id, @dare)
      has finished!
    %p
      - if @dare.status == 'Success'
        You have won!
      - else
        You have lost!