!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      The voting for 
      = link_to @dare.challenge.name, challenge_dare_url(@dare.challenge_id, @dare)
      has started!
    %p
      Visit
      = link_to @dare.challenge.name, challenge_dare_url(@dare.challenge_id, @dare)
      to see how it's going!