!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Congratulations! You accepted #{@dare.challenge.name}
    %p
      Oh, you are so brave!
      = link_to @dare.challenge.name, challenge_dare_path(@dare.challenge_id, @dare)
      is no walk in the park! Enjoy:)
      %br/
