!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      #{@acceptor.username.capitalize} rejected your challenge... Oh well, maybe next time.
    %p
      You can see the details
      = link_to "here", challenge_dare_path(@dare.challenge_id, @dare)