<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Challenger, <%= @user.username %></h1>
    <p>
      You have successfully signed up to challenger,
      your username is: <%= @user.username %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= new_user_session_url %>.
    </p>
    <p>Thanks for joining and have fun challenging people!</p>
  </body>
</html>