%h3
	This challenge was put to the vote on #{dare.voting_start_date}

%h4
	Voters decided that  

- if dare.voting_result
	#{dare.acceptor.username} accomplished the challenge
- else
	#{dare.acceptor.username} failed