%h1
  Challenge:
  = @dare.challenge.name

%h2
  Challenger:  
  = @dare.challenger.username
  %br

  Accepted by:
  = @dare.acceptor.username
  
  %br
  Started on:
  = @dare.created_at

  %br
  Finishing in:
  %time{"data-livestamp" => (@dare.created_at + 7.days).to_i}

/ - if @dare.up_for_voting?
/   = render 'voting', {dare: @dare}
/ - elsif @dare.voting_finished?
/   = render 'voting_result', {dare: @dare}