- User.sorted_by_failed_accepted_dares.each do |user|
	%h5
		= link_to user.username, user_path(user)
		has failed
		= pluralize user.failed_dare_count, 'challenge'
		= render partial: 'users/challenge_user', locals: {:user => user}