.text-center
	%h2
		Bored with the monotony of you everyday life? 
	%h3
		Challenger to the rescue!!! 
	%h3
		Accept a challenge, challenge your friends, do something you would be proud of (or not…)! 
	%h3
		Log in with your 	
		= link_to user_omniauth_authorize_path(:facebook), id: 'sign_in' do
			%button.btn.btn-md.btn-primary Facebook
		account and make it rain!
