/ #about-fb-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", :role => "dialog", :tabindex => "-1"}
/   .modal-dialog.modal-lg
/     .modal-content
/       .modal-title#myModalLabel
/         %h4
/           About Facebook Posts
/       %h5    
/         Thank you for allowing Challenger to post on your Facebook wall. By default, we will post when you accept a challenge, upload proof, your challenge is put to the vote and when the voting for your challenge ends. You can disable the posting in your profile(link to profile)


#about-fb-modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
          %span.sr-only Close
        %h3#myModalLabel.modal-title
          About Facebook Posts
      .modal-body
        %h4
          Thank you for allowing Challenger to post on your Facebook wall.
        %h4
          By default, we will post when you:
          %ul{:style => "list-style-type:disc"}
            %li accept a challenge
            %li upload proof
            %li your challenge is put to the vote
            %li the voting for your challenge ends
          You can disable the posting in your profile(link to profile)