- current_user.my_accepted_challenges.each do |dare|
	%p
		= link_to dare.challenge.name, challenge_dare_path(dare.challenge, dare)
		finishes
		%time{"data-livestamp" => (dare.start_date + 7.days).to_i}
	
	