- current_user.my_accepted_challenges.each do |dare|
	%p
		= link_to dare.challenge.name, dare.challenge
		finishes
		%time{"data-livestamp" => (dare.created_at + 7.days).to_i}
	= form_for([dare.challenge, dare]) do |f|
		- dare.status = "Completed"
		= f.hidden_field :status
		= f.submit "Completed", class: "btn btn-success btn-xs"