- current_user.my_challenged_users.each do |dare|
	%p
		= link_to dare.acceptor.username, dare.acceptor
		to 
		= link_to "#{dare.challenge.name},", challenge_dare_path(dare.challenge, dare)
		finishes 
		%time{"data-livestamp" => (dare.created_at + 7.days).to_i}