Sort by:
= link_to 'Name', challenges_path(choice: 'name'), remote: true, class: 'sort_link'
%span.sort-arrow-up.hidden &#x25B2
%span.sort-arrow-down &#x25BC
= link_to 'Added on', challenges_path(choice: "date"), remote: true, class: 'sort_link horizontal-break'
%span.sort-arrow-up.hidden &#x25B2
%span.sort-arrow-down &#x25BC
= link_to 'Popular', challenges_path(choice: "popular"), remote: true, class: 'sort_link horizontal-break'
%span.sort-arrow-up.hidden &#x25B2
%span.sort-arrow-down &#x25BC


%h1 Listing challenges

#challenges
  = render @challenges
%br
#errors
#new-challenge-form
