%h4
	Sort by:
= link_to 'Name', challenges_path(choice: 'name'), remote: true, class: 'sort_link'
= link_to 'Added on', challenges_path(choice: "date"), remote: true, class: 'sort_link'
= link_to 'Popular', challenges_path(choice: "popular"), remote: true, class: 'sort_link'

/ #search_direction{data: {direction: "DESC"}}

%h1 Listing challenges

#challenges
	= render @challenges
%br
#errors
#new-challenge-form
