

/*@media screen and (min-width: 845px) {*/
	#notification-link{
		display: block;
	}
/*}*/
@media screen and (min-width: $screen-sm) {
	#notification-link{
		display: none;
	}	
}

.horizontal-break{
	border-left: 2px solid #E7E7E7;
	padding-left: 5px;
}

form.new_dare{
	display: inline-block;
}